@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/user.css" />

<div class="form-container">
    <h2>Register</h2>

    <form method="post" action="/User/Register">
        <input name="Name" placeholder="Name" required />
        <input name="Email" placeholder="Email" required />
        <input name="password" type="password" placeholder="Password" required />
        <button type="Login">Register</button>
    </form>

    @if (ViewBag.Error != null)
    {
        <p class="error">@ViewBag.Error</p>
    }

    <p>
        Already have an account?
        <a href="/User/Login">Login</a>
    </p>
</div>+´123 v